body {
    background: none repeat scroll 0 0;
    font-family: 'Roboto',sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5em;
}
.inner_main_menu {
    margin: 0 cap;
    width: 670px;
}
.inner_main_menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    padding-top: 540px;
}
.inner_main_menu ul li {
    float: none;
    display: inline;
}
.inner_main_menu ul li :nth-child(1){
    float: left;
}
.inner_main_menu ul li a {
    color: #262626;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    padding: 10px 20px;
}
.inner_main_menu ul li a: hover {color: #6FDA44}
#main_menu{
    width: 90%px;
    position: bottom;
}
.logo_area {
    width: 60px;
    height: 30px;
    position: fixed;
    left:60%;
    top: 0;
    content:normal;
    margin-left: -225px;
}
body{
    min: height 100vh;
}

@media (min-width: 1024px)
.lg\:w-1\/6 {
    width: 8.666667%;
}
@media (min-width: 768px)
.md\:w-3\/6 {
    width: 18%;
}
@media (min-width:375px)
.p{
    margin:-5px;
}
/* @media screen (min-width:380px) {
    {.w-4\/6 {
        width: 34.666667%;
    }}
} */
@media (max-width: 380px)
.lg\:w-1\/6 {
    width: 35.666667%;
}
@media (max-width: 380px)
.sm\:text-6xl {
    font-size: 3rem;
}
@media (max-width:380px)
                  .text-3xl {
                  font-size: -32.125rem;
              }
@media (max-width: 380px)
.md\:w-3\/6 {
    width: 24.6667%;
}
